{% extends 'base.html' %}
{% block content %}

{% load static %}

<style>

    .clearfix:before, .clearfix:after {
        content:'';
        display: block;
        clear: both;
    }
    .content {font-family: 'Noto Sans KR', sans-serif; letter-spacing: -0.8px;}

    .content h1 {font-family: 'Noto Sans KR', sans-serif; font-size: 3rem;}

    section h3,h2,h1,h4 {font-size: 1.5rem; letter-spacing: -0.5px; font-family: 'Noto Sans KR', sans-serif;}
    section div button {float: right;}

    .content .info h3 {font-size: 1rem;}
    .content .info h3 span {font-size: 2rem;}
    .content .info {
        width: 30%;
        height: 600px;
        float: right;
        border-left: 1px solid #333;
        padding: 2rem;
        word-break: keep-all;
    }
    .info-right {margin: 3rem 0;}
    .info-right p {font-size: 0.8rem; text-align: right; line-height: 25px; color: #3C3FB2}
    
    .content .intro {
        margin-top: 3rem;
        width: 70%;
        float: left;
        padding: 2rem;
        word-break: keep-all;
    }

    .content .classList {
        width: 70%;
        float: left;
        padding: 2rem;

    }

    .content .review {
        width: 70%;
        float: left;
        padding: 2rem;
    }
    .classList table {text-align: center;}
    .classList table th {text-align: center;}

    .userRiview {margin-bottom: 3rem;}
    .userRiview hr {margin: 1rem 0;}
    .userRiview p {margin: 0 1rem;}
    .userRiview p.name {color: #777;}
    .userRiview p.reviewtext {font-size: 1.1rem; margin: 1rem;}
    
</style>


<div class="content">

    <section class="info">
        <div><h3>멘토 <span>{{mentor.user_info_id}}</span></h3></div>
        <div class="info-right">
            <p>멘토이력:{{mentor.contents}}</p>
        </div>
        <div>
            <p> 
                {{Lec.mentor_description}}
            </p>
        </div>
    </section>
    <h2>{{mentor}} 's 클래스</h2>
    {% for lec in Lec %}
    <h4> {{lec.lecture_title}} </h4>
    <h3>강의 소개</h3> <span>{{lec.description}}</span>
    <br><br><br>
    {% endfor %}
    
    <section class="classList">
        <h3>강좌</h3>
        <table>
            <thead>
                <tr>
                    <th>No.1</th>
                    <th>강좌명</th>
                    <th>play</th>
                </tr>
            </thead>
            <tbody>
            {% for m in Lec %}
            
                <tr>
                    <td></td>
                    <td>{{m.lecture_title}}</td>
                    <td><a href="{% url 'urlnameLectureDetail' m.id%}" target="'_blank" onClick="window.open(this.href, '', 'width=1200, height=600');">▶</a></td>
                    <!-- 수강을안하면 못클릭하게 -->
                </tr>
            
            {% endfor %}
            </tbody>
        </table>
    </section>


    <section class="review">
        <h3>후기</h3>
        <div class="userRiview">
            
            {% for a in review %}
            <p class="name">{{a.author}}님의 평점 : {{a.review_point}}점</p>

            <p class="reviewtext">
                {{a.content}}
            </p>
            <hr>
            {% endfor %}

        </div>
        <div>
            <span>리뷰작성하기</span>
            <textarea></textarea>
            <br>
            <button type="submit">제출하기</button>
        </div>
    </section>
</div>
    
{% endblock %}