{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .content {font-family: 'Noto Sans KR', sans-serif; margin: 0 3rem;}
    .button-position {text-align: center; margin: 5rem 0;}
    .eventInput {margin: 5rem 0;}
    .eventInput textarea {height: 500px;}

</style>

<div class="content">
    <header><h1>Menti's Event</h1></header>
    <div class="eventInput">
        <h4>이벤트 제목</h4>
        <input type="text" class="title" placeholder="이벤트 제목">
    </div>
    <div class="eventInput">
        <h4>상세 내용 작성</h4>
        <textarea placeholder="이벤트의 상세 내용을 적어주세요!"></textarea>
    </div>
    
    <div class="button-position">
        <a href="#" class="button primary">수정하기</a>
    </div>
</div>
    
    

</div>   
        
{% endblock %}