<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    
    <h1>🎉멘토의 강의 상세페이지입니다🎉</h1>
    <p>강의제목 : {{views_mentordetail.lecture_title}}</p>
    <p>멘토 이름 : {{views_mentordetail.mentor_id}}</p>
    <p>멘토 설명 : {{views_mentordetail.mentor_description}}</p>
    <p>강의 설명 : {{views_mentordetail.description}}</p>
    <p>강의 가격 : {{views_mentordetail.price}}</p>
    <p>강의 분야 : {{views_mentordetail.field}}</p>
</body>
</html>